html {
  font-family: Georgia;
}

body {
  margin: 10px auto;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  align-items: center;
  z-index: 25;
  background-color: white;
  padding-top: 10px;
  margin-top: -15px;
}

 nav {
  display: inline-block;
  flex-wrap: wrap;
  padding-right: 30px;
}

nav span {
  padding: 10px;
}

.logo {
  color: MediumAquamarine;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  padding-left: 10px;
}

nav a {
  color: black;
}

div {

}

.container {
  display: flex;
  position: relative;
  top: 200px;
  z-index: 20;
  margin-bottom: 15px;
}

.large {
  width: 630px;
  margin-right: 32px;
  margin-left: 30px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
  margin-left: 32px;
  text-align: center;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

li {
  list-style-type: none;
  text-align: center;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

.img {
  display:flex;
}


.img h2 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

#main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  align-items: center;
  justify-content: center;
}

#img2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

#img3 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

#img4 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  justify-content: center;
}

#img2, #img3, #img4 {
  height: 299px;
  align-items: center;

}

.story p {
  font-size: 17px;
  color: black;
}

.subcolumns {
  display: flex;
  justify-content: space-between;

}


.subcolumn1, .subcolumn2 {
  width: 300px;
}

.text {
  height: 200px;
}

.newsbites h2 {
  font-size: 16px;
  padding-bottom: 10px;
  text-align:center;
}
